<p id="notice"><%= notice %></p>

<!-- <h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Login</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.login %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
<div id="abc"></div>
<div id="aaa"></div>
<div id ="login_form"></div>

<br>
<script>
Ext.onReady(function(){
  Ext.QuickTips.init();
// add your data store here
  var store = new Ext.data.JsonStore({
    url: 'users.json',
    //choice field 
    fields: [
    'id',
    'name',
    'email',
    'login']
  });
  store.load();
  var edit = new Ext.form.TextField();

  var grid = new Ext.grid.GridPanel({
    renderTo: Ext.get("abc"),
    frame: true,
    title: "Users database",
    height: 200,
    width: 600,
    store: store,
    id: 'myGrid',
    columns: [
      
      {id: 'id', dataIndex: 'id'},
      {header: "Name", dataIndex: 'name'},
      {header: "Email", dataIndex: 'email'},
      {header: "Login", dataIndex: 'login'},
      {
        xtype : 'actioncolumn',
        header : 'Action',
        width : 150,
        align : 'center',
        items : [
            {
                icon:'visibility-button.png',
                tooltip : 'Show',
                handler : function (grid, rowIndex, colIndex, item, e, record) {
                    //do your delete record function here
                    var selectedRecord = grid.getSelectionModel().getSelected();
                    // to get value of a field in the record
                    var val = selectedRecord.get('id');  
                    Ext.Ajax.request({
                        url: '/show',
                        params: {id: val}
                      });
                        
                }
                
            },
            {
                icon:'edit.png',
                tooltip : 'Edit',
                handler : function (grid, rowIndex, colIndex, item, e, record) {
                    //do your delete record function here
                }
                
            },
            {
                icon:'delete.png',
                tooltip : 'Delete',
                handler : function (grid, rowIndex, colIndex, item, e, record) {
                    //do your delete record function here
                }
                
            }
        ]
    }]
  });
  

  login_form.hide();
  var newBtn =  new Ext.Button({
        renderTo: Ext.get('aaa'),
        text    : 'New user',
        id: 'btn',
        handler: function () {
            //document.location.href = "http://localhost:3000/users/new";           
             login_form.show();
        }
    });

    
  
});


</script>
<%= javascript_include_tag "myjs.js"%>
