<p id="notice"><%= notice %></p>

<!-- <h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Login</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.login %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
<div id="abc"></div>
<div id="aaa"></div>

<div id ="login_form"></div>
<!-- <div id="usrgrid"></div> -->
<div id="register_form"></td>

<br>
<script>
Ext.onReady(function(){

// add your data store here
  var store = new Ext.data.JsonStore({
    url: 'users.json',
    //choice field 
    fields: [
    'id',
    'name',
    'email',
    'login']
  });
  store.load();
  var edit = new Ext.form.TextField();

  var grid = new Ext.grid.EditorGridPanel({
    renderTo: Ext.get("abc"),
    frame: true,
    title: "Users database",
    height: 200,
    width: 600,
    store: store,

    columns: [
      
      {id: 'id', dataIndex: 'id', editor: edit},
      {header: "Name", dataIndex: 'name', editor: edit},
      {header: "Email", dataIndex: 'email', editor: edit},
      {header: "Login", dataIndex: 'login', editor: edit},
      {
        header: 'Action',
        width: 145,
        sortable: false,
        dataIndex: 'action'
    }
    ]
  });
  
  
});

var newBtn =  new Ext.Button({
        renderTo: Ext.get('aaa'),
        text    : 'New user',
        handler : function() {
           //alert('You clicked add button');
          var win;
          if(!win){
              win = new Ext.Window({
                  applyTo     : 'hello-win',
                  layout      : 'fit',
                  width       : 500,
                  height      : 300,
                  closeAction :'hide',
                  plain       : true,
                  buttons: [{
                      text     : 'Submit',
                      disabled : true
                  },{
                      text     : 'Close',
                      handler  : function(){
                          win.hide();
                      }
                  }]
              });
              win.show();
          }  
        }
    });


    
  



var btn = new Ext.Button({
  id: 'btnRegister',
  text: 'Register',
  width: 110,
  style: 'margin-right: 5px;',
  renderTo: "register_form",
  listeners: {
    click: function(e){
      console.log("clicked...");
      var options = {
          'title': "Registration From"
      }
      register_form = new RegisterForm(options);
      register_form.show();
    }
  }
});
</script>

<script src="/prototype.js"></script>
<script src="/register_form.js"></script>
<script src="/myjs.js"></script>
<!-- <script src="/grid_user.js"></script> -->

