<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Login</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.login %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<script>
Ext.onReady(function(){

// add your data store here
  var store = new Ext.data.Store({
    url: 'users.json',
    reader: new Ext.data.JsonReader({
      root: 'rows',
      id:'id'
    },[
      'id',
      'name',
      'email',
      'login'
    ])
  });
  store.load();

var grid = new Ext.grid.GridPanel({
  renderTo: document.body,
  frame: true,
  tittle: "Users database",
  height: 200,
  width: 500,
  store: store,
  columns: [
    {header: "Name", dataIndex: 'name'},
    {header: "Email", dataIndex: 'email'},
    {header: "Login", dataIndex: 'login'}
  ]
  });
});
</script>
<%= link_to 'New User', new_user_path %>
